<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
   
<h2>🥇 Топ-1 книга по цене - золотой том</h2>

<table border="1">
    <tr>
        <th>Номер</th>
        <th>Название книги</th>
        <th>Цена</th>
    </tr>
    <tr>
        <td>{{ book.id }}</td>
        <td>{{ book.title }}</td>
        <td>{{ book.price }} руб.</td>
    </tr>
</table>




</body>

</html>